SECRET_KEY=unaclavedificial
DEBUG=False

# --- RED ---
# Importante: los hosts separados por UN ESPACIO para que tu .split(" ") funcione
# DJANGO_ALLOWED_HOSTS=209.222.17.103 localhost 127.0.0.1 tecem.tumype.com
DJANGO_ALLOWED_HOSTS= localhost 127.0.0.1 emergentes.tumype.com

# --- BASE DE DATOS MYSQL ---
# Estos nombres coinciden exactamente con tus env("VARIABLE") en settings.py
DB_ENGINE=django.db.backends.mysql
DB_DATABASE=bd_djemergentes
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# --- CORS ---
# Si necesitas que el front de React se conecte:
# CORS_ALLOWED_ORIGINS=http://209.222.17.103:3000
CORS_ALLOWED_ORIGINS=https://emergentes.tumype.com
JWT_TOKEN_LIFETIME_DAYS=1